.event-item {
    border: 1px solid #ddd;
    border-radius: 35px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    max-width: 100%;
    transition: transform 0.3s ease-in-out;
    transform-style: preserve-3d; /* Enable 3D transformations */
    position: relative;
    background-color: #000000; /* event block background */
}

.event-item:hover {
    animation: flipAnimation 0s ease-in-out forwards;
    /*background-color: #000000;*/
}

.event-image {
    width: 90%; /* previous is 60% */
    height: 200px;
    margin-bottom: 10px;
    border-radius: 15px; /* You can adjust the value to increase or decrease the curve */
}

.event-name {
    color: #e5b846;
    margin-bottom: 10px;
}

.event-info {
    font-size: 16px;
    margin-bottom: 5px;
    color: #fff;
}

.event-description {
    font-size: 13px; /*older is 16 */
    margin-bottom: 10px;
    color: #fff;
    text-align: justify;
    
}

@keyframes flipAnimation {
    0% {
        transform: scale(1) rotateY(0deg);
    }
    50% {
        transform: scale(1.2) rotateY(180deg);
    }
    100% {
        transform: scale(1) rotateY(360deg);
    }
}
     