.nav-link {
  text-decoration: none; /* Remove default underline */
  color: #fff; /* Set default color */
  position: relative; /* Position relative for the ::after pseudo-element */
}

.nav-link::after {
  content: ""; /* Add content for the pseudo-element */
  position: absolute; /* Position absolute to position the line */
  left: 0; /* Align the line with the text */
  bottom: -5px; /* Position the line 5px below the text */
  width: 100%; /* Set width to 100% */
  height: 2px; /* Set height to create the line */
  background-color: #fff; /* Set line color */
  visibility: hidden; /* Initially hide the line */
  transition: all 0.3s ease; 
  font-weight: bold;/* Add transition effect */
}

.nav-link:hover::after {
  visibility: visible; /* Show the line on hover */
}
